/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* background colors */
    --primary-col: royalblue;
    --primary-col-desaturated: rgb(132, 162, 252);
    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    background-color: var(--primary-col);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
}

nav.show {
    transform: translateY(0);
}

.nav-item {
    display: grid;
    place-items: center;
    min-height: 5.5rem;
    min-width: 8rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border-radius: 0.4rem;
    transition: background-color 0.2s ease-in-out;
}

.nav-item:hover {
    background-color: var(--primary-col-desaturated);

}

section:is(.gene-search, .about) {
    min-height: 100vh;
}

section.gene-search {
    display: grid;
    place-items: center;
}